@mixin generate-grid($columns) {
	@for $i from 1 through $columns {
		$var: ".col-" + $i + "-" + $columns;
		$width: calc(100% / ( #{$columns} / #{$i} ));
		.col-#{$i}-#{$columns} {  
      width: $width;  
    }
    .col-offset-#{$i}-#{$columns} {  
      margin-left: $width;  
    }
  }
}
@include generate-grid(16);
